ul
{
	list-style-type: none;
}

body{
	background-color: #BCBCBC;
}
.app{
	position: relative;
	margin: 50px;
	width: 850px;
	background-color: #BCBCBC
}

.category_detail {
	margin-left: 250px;
	width : 600px;
	cursor: default;

}

.category_list {
	position: absolute;
  	left: 0px;
  	width: 250px;
  	cursor: default;
  	height: 600px;
  	max-height: auto;
  	border : solid;
	background-color:#7C7C7C;
}

.category_list > div{
	border-bottom: solid;
	border-width: 1px;
	border-color: black;
	padding-left: 20px;
	background-color:#7C7C7C;
	color: white;
}

.category_list > .list_header {
	color: #AC73D7;
	font-weight: bold;
	border-color: black;
	background-color:#666666;
}

.category_list > .new_category{
	background-color:#666666;
}
.new_category > input{
	padding-left: 20px;
	margin: 3px;
	border-radius:5px;
}
.add_supplier_form {
	margin-left: 250px;
	width: 600px;
	height : 120px;
	color-background: grey;
}

.category_title {
	font-weight: bold;
	background-color : #AC73D7;
	color: white;
	width : 600px;
	height : 30px;
	text-align: center;
	border-bottom: solid;
	border-width : 1px;
	border-color: none;
}

.add_supplier_form > input {
	margin: 3px;
	border-radius:5px;
}

.supplier{
	dispay: none;
	height: 50px;
	padding-left: 10px;
	padding-top : 10px;
	border-bottom: solid;
	border-width: 1px;
	border-color: white;
}

.supplier.show {
    display: block;
}
